# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
dist/fluentcode/Fluent Code for Linux
dist/fluentcode/Fluent Code for Mac OS
dist/fluentcode/Fluent Code.exe
dist/fluentcode/WebView2Loader.dll


# Neutralinojs related files
.storage
.tmp
*.log
*.iss

#Node files
node_modules
package-lock.json
