# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
dist/fluentcode/fluentcode-linux_x64
dist/fluentcode/fluentcode-mac_x64
dist/fluentcode/fluentcode-win_x64.exe
dist/fluentcode/WebView2Loader.dll


# Neutralinojs related files
.storage
.tmp
*.log
*.iss

#Node files
node_modules
package-lock.json
