/*default styles*/
:root{
  /*css variables*/
  --top-nav-height: 45px;
  --bottom-nav-height: 30px;
  --bottom-short-info-width: 20%;
  --nav-width: 230px;
  /*other styles*/
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: var(--basic-color);
}
@media (max-width: 1050px){
  :root{
    --top-nav-height: 90px;
  }
}
@media (max-width: 650px){
  :root{
    --bottom-short-info-width: 100%;
  }
}
html, body{
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
main{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
header{
  font-size: 25px;
  padding: 15px 10px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: auto !important;
}
::-webkit-scrollbar
{
  	background-color: transparent;
  	width: 5px;
  	height: 5px;
}
::-webkit-scrollbar-thumb
{
  	background-clip: content-box;
  	background-color: var(--color);
  	border-radius: 3px;
}
::-webkit-scrollbar-corner
{
  	background-color: transparent;
}
/*universal classes*/
.padding-x{
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-y{
  padding-left: 5px;
  padding-right: 5px;
}
.margin-x{
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-top{
  margin-top: 5px;
}
.margin-bottom{
  margin-bottom: 5px;
}
.margin-y{
  margin-left: 5px;
  margin-right: 5px;
}
.gap{
  gap: 5px;
}
/*fluent components*/
fluent-badge{
  padding: 5px 0;
  overflow: auto;
  user-select: text;
}
fluent-menu{
  position: absolute;
  z-index: 999;
  margin-top: 10px;
}
fluent-button > *{
  margin-left: -2px !important;
  margin-right: -2px !important;
} 
fluent-tab-panel{
  padding: 0;
}
fluent-dialog{
  --dialog-width: 400px;
  --dialog-height: max(70vh, 350px);
}
fluent-tab-panel{
  overflow: auto;
}
fluent-tree-item{
  --tree-item-nested-width: 0px;
}
fluent-card{
  background-color: var(--first-bg-color);
}
fluent-accordion{
  overflow: auto;
}
fluent-dialog fluent-tab-panel{
  height: calc(var(--dialog-height) - 140px);
}
/*fluent components extra classes*/
.settings-fluent-dialog{
  --dialog-width: 600px;
  --dialog-height: max(70vh, 350px);
}
.startPage-fluent-anchor{
  margin: 5px;
  display: inline-flex;
}
.startPage-fluent-anchor > *{
  padding: 5px 0;
  margin: 0 5px;
}
/*default classes*/
.main{
  background-color: var(--first-bg-color);
}
.topNav-fluent-toolbar{
  width: 100%;
  height: var(--top-nav-height);
}
.bottom-nav{
  width: 100vw;
  height: var(--bottom-nav-height);
  border-top: 1px solid var(--third-bg-color);
  background-color: var(--first-bg-color);
  font-size: 13px;
  display: flex;
  padding: 5px;
}
.side-nav{
  width: var(--nav-width);
  height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
  padding: 10px;
}
.side-nav *{
  max-width: calc(var(--nav-width) - 10px);
}
.fileNavItem, .fileNavGroupItem{
  margin: 5px 0;
}
.fileNavItem .fileNavItemIcon-span{
  max-width: 20px;
  display: flex;
  justify-content: center;
}
.fileNavItem .fileNavItemTitle-span{
  width: calc(var(--nav-width) - 100px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.fileNavGroupItem .fileNavItemWithIcon .fileNavItemTitle-span{
  width: calc(var(--nav-width) - 120px) !important;
}
.fileNavItem .fileNavItemCloseButton-span{
  max-width: 20px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.fileNavItem .fileNavItemCloseButton-span .fluent-icon{
  font-size: 10px;
}
.fileNavItem:hover .fileNavItemCloseButton-span{
  visibility: visible;
}
.editor-article{
  --max-editor-width: calc(100vw - var(--nav-width) - 1px);
  --max-editor-height: calc(100vh - calc(var(--top-nav-height) * 2) - var(--bottom-nav-height));
  
  width: var(--max-editor-width);
  height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
  background-color: var(--first-bg-color);
  border-left: 1px solid var(--third-bg-color);
}
.main-section{
  width: 100vw;
  height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
  background-color: var(--first-bg-color);
  display: flex;
  overflow: hidden;
}
.editorContainer-div{  
  overflow: hidden;
  width: var(--max-editor-width);
  height: var(--max-editor-height);
  display: grid;
}
.editor-div{
  overflow: auto;
}